// Cartas
.card {
    @include card-style();

    #card2 .card-title {
        padding-top: 65px;
    }
}

.card-link {
    text-decoration: none;
    color: white;
    background-color: $orange-color;
    padding: 10px 20px;
    border-radius: 5px;
}

.card-link:hover {
    color: black;
    font-weight: bold;
}
